<!-- BASIC FORM ELELEMNTS -->

<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb">Cadastro de Curso</h4>
            <form class="form-horizontal style-form" method="get">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Nome do cuso</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Categoria</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-10">
                        <textarea rows="4" cols="50" class="form-control"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Imagem</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="focusedInput" type="file" placeholder="insira uma imagem">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Pergunta do Exercicio</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="disabledInput" type="text"
                               placeholder="insira uma pergunta ou mais para entendimento da aula">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Resposta Correta</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="respota Correta">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">anotações</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Static control</label>
                    <div class="col-lg-10">
                        <p class="form-control-static">email@example.com</p>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- col-lg-12-->
</div><!-- /row -->



