<section>
    <div class="input-group">
        <input ng-model="search" type="text" class="form-control" placeholder="digite para buscar">
   <span class="input-group-btn">

                            <a  class="btn btn-success" ui-sref="aula">Novo </a>
   </span>

    </div>
    <section>
        <h3><i class=""></i> Cursos Disponiveis</h3>

        <div class="row mt" ng-init="getCourse()">
            <div ng-repeat="course in courses|filter:search">

                <div class="col-lg-4 col-md-4 col-sm-4 mb">
                    <div class="content-panel pn">
                        <div class="img-curso"
                             style="background: transparent url('{{course.image}}') no-repeat scroll center center / cover;">

                            <h3 style="color: #2b542c">{{course.name}}</h3>
                            <h4>{{course.dificuldade}}</h4>
                        </div>
                        <div class="profile-01 centered">
                            <a class="btn" ui-sref="aulas({courseId:2})">Iniciar</a>

                        </div>
                    </div>
                    <! --/content-panel -->
                </div>
            </div>
        </div>

    </section>
</section>