<!-- BASIC FORM ELELEMNTS -->

<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb">Novo curso</h4>
            <form class="form-horizontal style-form" method="post">
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Nome do curso</label>
                    <div class="col-sm-10">
                        <input  ng-model="course.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label" ng-init="courseCategory()">Categorias</label>
                    <div class="col-sm-10">
                        <select ng-model="course.category" class="form-control" ng-options=" category.name for category in categorys track by category.id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-10">
                        <textarea  ng-model="course.description"rows="4" cols="50" class="form-control"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Imagem</label>
                    <div class="col-sm-10">
                        <input ng-model="course.image" class="form-control"  type="text" placeholder="insira link de uma imagem">
                    </div>
                </div>

                <button class="btn btn-danger btn-lg">Voltar</button>
                <button class="btn btn-success btn-lg" ng-click="registerCourse()">Salvar</button>


        </div>
    </div><!-- col-lg-12-->
</div><!-- /row -->



